* {
    font-family: Monaco, "Sriracha";
    font-weight: 500;
    color: darkblue;
}

a {
    text-decoration: none;
}

iframe {
    height: 60px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1)0%, rgba(32, 245, 230, 0.98) 50%, rgba(0, 212, 255, 1)100%);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#id1 {
    font-size: larger;
    order: 2;
    flex: 0 1 auto;
    align-self: center;
    padding: 0rem 4rem 2rem 0rem;
}

#garnet222 {
    max-width: 100%;
}

#id2 {
    order: 1;
    flex: auto;
    flex: 1 0 auto;
    align-self: center;
}

#xlinks {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

#xlinks a {
    padding: 0 40px;
}

i {
    color: #20e0f5;
}

i:hover {
    color: #2083f5
}


/*******   Nav Bar  *******/

.navbar {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    padding-top: 20px;
    padding-right: 60px;
    width: 9%;
    height: auto;
    order: 3;
    margin-left: auto;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }
    .navbar {
        justify-content: left;
    }
    #garnet222 {
        display: none;
    }
}

#navUL {
    list-style: none;
}

#navUL li {
    display: inline-block;
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    padding: 15px 0px;
    position: relative;
}

.route {
    color: darkblue;
    font-size: larger;
    word-spacing: -.4ch;
}

.dropA {
    color: darkblue;
    font-size: larger;
    word-spacing: -.4ch;
}

a:hover {
    color: #00ccff;
}

.dropbtn {
    display: inline-block;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content a {
    padding-top: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightcyan;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.route::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.route:hover::before {
    width: 100%;
}