* {
    font-family: Monaco,'Sriracha';
}
h1, h3 {
    color: #0000cc;
    text-align: center;
}
.alt1 {
    color: #733635;
    padding-bottom: 1.5rem;
   
}
.alt2 {
    color: #0099a8;
    padding-bottom: 1.5rem;
}
p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2rem;
}
time {
    margin-left: 10%;
}
a {
    color: #0000cc;
}
.container {
    width: 80%;
    /* height: 25%; */
    position: relative;
    display: -webkit-inline-box;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
#stripe1 {
    height: 3rem;
    width: 100%;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgb(115,54,53) 0%, rgb(113,72,71 )16.67%, rgb(109,89,89 )33.34%,rgb(102,105,108)50%, rgb(89,121,127)66.67%,rgb(67,137,147)83.35%, rgb(0,153,168)100%);
    margin-bottom: 2.5rem;
}
/*******  Up Arrow ********/

#top {
    font-size: x-large;
    line-height: 0;
    background: white;
    background-color: white;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 1rem;
    text-decoration: none solid currentColor auto;
    text-decoration-thickness: auto;
    color: #00aeef;
    transition: 300ms;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

/*******   Nav Bar  *******/

.navbar {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    padding-top: 20px;
    padding-right: 60px;
    width: 9%;
    height: auto;
    order: 3;
    margin-left: auto;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }
    .navbar {
        justify-content: left;
    }
}

#navUL {
    list-style: none;
}

#navUL li {
    display: inline-block;
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    color: #0000cc;
    padding: 15px 0px;
    position: relative;
}

.route {
    color: #0000cc;
    font-size: larger;
    word-spacing: -.4ch;
}

.dropA {
    color: #0000cc;
    font-size: larger;
    word-spacing: -.4ch;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #00ccff;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content a {
    padding-top: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: larger;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.route::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.route:hover::before {
    width: 100%;
}