/* body {
    text-align: center;
    font-family: Monaco, "Sriracha";
} */

* {
    font-family: Monaco, "Sriracha";
    font-weight: 500;
    color: darkblue;
    text-align: center;
}

#submit {
    background-color: #00ccff;
    color: darkblue;
    font-size: larger;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.container {
    width: 70%;
    height: 50%;
    position: relative;
    display: -webkit-inline-box;
    margin-bottom: 70px;
    border: 1px solid black;
}

#baseP {
    margin-bottom: 70px;
}


/*******   Nav Bar  *******/

.navbar {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    padding-top: 20px;
    padding-right: 60px;
    width: 9%;
    height: auto;
    order: 3;
    margin-left: auto;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }
    .navbar {
        justify-content: left;
    }
}

#navUL {
    list-style: none;
}

#navUL li {
    display: inline-block;
    margin-left: 20px;
    font-size: larger;
    text-align: center;
    color: darkblue;
    padding: 15px 0px;
    position: relative;
}

.route {
    color: darkblue;
    font-size: larger;
    word-spacing: -.4ch;
}

.dropA {
    color: darkblue;
    font-size: larger;
    word-spacing: -.4ch;
}

a:hover {
    color: #00ccff;
}

.dropbtn {
    display: inline-block;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content a {
    padding-top: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightcyan;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.route::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.route:hover::before {
    width: 100%;
}